@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #212121;
    --horizontal-padding: 10dvw;
    --vertical-padding: 50px;
    --main-font: 'Inter';
    --second-font: 'Bayon';
    --third-font: 'Poppins';
    --font-light: 200;
    --font-regular: 400;
    --cart-padding: 0.5rem 0;
    --cart-background-color: #434343;
    --nav-height: 100px;
    --site-padding: 2rem 0;
    --footer-padding: 50px 0;
    --footer-height: 200px;
}

.material-symbols-light--close {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.horizontal-padding {
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
}

.vertical-padding {
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.gray-bg {
    background: linear-gradient(90deg, #AFAFAF 0%, #AAAAAA 100%);
    color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font), sans-serif;
    color: #fff;
    /* padding: 0 var(--site-padding); */
}

.logo  {
    width: 140px;
    height: 55px;
}

.price {
    font-weight: 300;
    font-size: 200%;
}

/* NAV */

nav {
    height: calc(var(--nav-height) - 1px);
}

.nav-div {
    font-family: var(--third-font), sans-serif;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    font-family: var(--third-font), sans-serif;
}

.nav-search {
    display: flex;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
    /* border: 1px solid; */
}

.nav-search-media {
    display: none;
}

.search-input {
    padding: 7px 7px 7px 20px;
    color: #fff;
    background-color: #434343;
    border-radius: 25px 0 0 25px;
    border: 1px solid #fff !important;
}

.search-input::placeholder {
    color: #fff;
    opacity: 0.5;
}

.category-div {
    background-color: #434343;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    padding: 0 12px;
}

.search-select {
    padding: 7px 0;
    background-color: #434343;
    color: #fff;
    outline: none;
}

.search-icon-div {
    width: 45px;
}

.search-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.select-icon-div {
    width: 100%;
    height: 100%;
    background-color: #434343;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-icon {
    width: 13px;
    height: 13px;
}

.search-icon {
    width: 13px;
    height: 13px;
}

.nav-cart {
    width: 105px;
    cursor: pointer;
} 

.cart-icon-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-icon {
    width: 20px;
    height: 20px;
}

.cart-text {
    font-family: var(--third-font), sans-serif;
    font-size: 0.9rem;
}

.halt {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* MAIN */

main {
    min-height: calc(100dvh - var(--nav-height) - 201px);
}

#hero-subpage {
    width: 100%;
    height: fit-content;
    padding-bottom: 2rem;
}

#hero-subpage > p {
    padding-bottom: 1rem;
    line-height: 1.5;
}

#title-subpage {
    font-size: 4rem;
    padding: 30px 0;
}

/* FOOTER */

footer {
    min-height: 200px;
    height: fit-content;
    background: #000;
    font-size: 0.75rem;
    padding-top: 50px;
}

.footer-div {
    font-family: var(--third-font), sans-serif;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-content {
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.footer-icons {
    width: 12px;
}

/* MODAL */

.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid #888;
    width: 300px;
    background-color: var(--cart-background-color);
    transform: translate(-200px, 20px);
}

.modal-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.modal-content-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 0.5rem;
}

.modal-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    padding: var(--cart-padding);
}

.cart-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cart-item-nameAndPrice {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.cart-item-name {
    font-weight: 200;
    font-size: 0.9rem;
}

.cart-item-price {
    font-weight: 400;
    font-size: 0.9rem;
}

.cart-item-remove {
    width: fit-content;
    height: fit-content;
}

.btn-remove {
    width: fit-content;
    height: fit-content;
    padding: 0;
    background-color: var(--cart-background-color);
}

.remove-icon {
    width: 20px;
    height: 20px;
}

.cartLine {
    width: 100%;
    height: 1px;
    background-color: #555555;
    margin: 0;
    border: 0;
}

.btn-order {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #242424;
    font-weight: 400;
}

/* PRODUCT */

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    z-index: 1;
}

.product {
    display: grid;
    grid-template-rows: 1fr 75px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.product-bottom-half {
    display: grid;
    grid-template-columns: 1fr 75px;
    background: white;
    color: black;
    border-top: 1px solid black;
    border-radius: 0 0 10px 10px;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 20px;
    gap: 5px;
}

.product-cart-btn {
    background: #2e2e2e;
    color: white;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.product-img {
    width: 100%;
    height: 100%;
}

/* SUBPAGES */

/* OTHER */

/* @keyframes html {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(45deg);
    }
} */

.whiteLine {
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 0;
    border: 0;
}

.whiteLineButItsNotActuallyWhiteInsteadItsGray {
    width: 100%;
    height: 1px;
    background: gray;
    margin: 0;
    border: 0;
}

.font-bayon {
    font-family: var(--second-font), sans-serif;
    font-weight: 400;
}

.inter-light-font {
    font-weight: var(--font-light);
}

.font-poppins {
    font-family: var(--third-font), sans-serif;
    font-size: 0.7rem;
}

a {
    text-decoration: none;
    color: #fff;
}

input,
select {
    border: 0;
    margin: 0;
}

li {
    list-style: none;
}

select { /* Chrome and Firefox */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand { /* IE10 */
    display: none;
}

button {
    margin: 0;
    padding: 10px 20px;
    /* border-radius: 10px; */
    font-weight: 700;
    font-family: var(--third-font), sans-serif;
    border: none;
    cursor: pointer;
}


@media (min-width: 2200px) {
    .search-input {
        padding: 10px 30px;
        font-size: 0.8rem;
        width: 300px;
    }

    .search-select {
        padding: 10px 0;
        background-color: #434343;
        color: #fff;
        outline: none;
        width: 75px;
        font-size: 0.8rem;
    }

    .search-icon {
        width: 18px;
        height: fit-content;
    }

    .category-div {
        padding: 0 20px;
        justify-content: space-between;
    }

    .font-poppins {
        font-size: 0.9rem;
    }

    .select-icon {
        width: 25px;
        height: 25px;
    }

    .select-icon-div {
        justify-content: flex-start;
        width: fit-content;
    }

    .nav-cart {
        width: 130px;
    } 
    
    .cart-icon-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .cart-icon {
        width: 30px;
        height: 30px;
    }
    
    .cart-text {
        font-family: var(--third-font), sans-serif;
        font-size: 1.05rem;
    }

    footer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-search {
        display: none;
    }

    .nav-search-media {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
        color: #fff;
        width: 100%;
        margin-right: 10px;
    }

    .search-icon-div-media {

    }

    .search-button-media {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-text {
        display: none;
    }

    .cart-icon {
        width: 40px;
        height: 40px;
    }

    .search-icon-media {
        width: 37px;
        height: 37px;
    }

    .logo {
        margin-top: 10px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        padding: 50px 0;
    }

    .footer-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 10px;
    }

    .footer-content-item > label,
    .footer-content-item > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-icons {
        width: 12px;
    }
}

@media only screen and (max-width: 650px) {
    .product-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
