#hero {
    width: 100%;
    height: calc(100dvh - 101px);
}
.hero-bg {
    z-index: -1;
    width: 100%;
    height: calc(100dvh - 101px);
    position: absolute;
}
.hero-bg > img {
    width: 100%;
    height: 100%;
}
.hero-title {
    font-size: 500%;
}
.hero-title > :nth-child(2) {
    margin-top: -100px;
}
.hero-title > :nth-child(3) {
    font-size: 70%;
    margin-top: -75px;
}