@import url(common.css);
#hero {
    width: 100%;
    height: calc(100dvh - var(--nav-height));
    min-height: 600px;
}

.crooked {
    transform: rotate(-3.5deg);
    font-size: 1200%;
    margin-bottom: -100px;
    z-index: -1;
}