/*@import url(common.css);*/
#hero {
    width: 100%;
    height: calc(100dvh - 101px);
    min-height: 600px;
}

.hero-bg {
    z-index: -1;
    width: 100%;
    height: calc(100dvh - var(--nav-height));
    min-height: 600px;
    position: absolute;
}

.hero-bg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-title > h1 {
    font-size: 600%;
    margin-top: -70px;
}

.hero-title > h3 {
    font-size: 175%;
    margin-top: -30px;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 350px;
    height: 100%;
    padding: 0 10dvw;
}

.hero-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    opacity: 0.8;
    height: 100%;
    gap: 20px;
}

.hero-product-container, .hero-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*ZAMIAST KLASY VERTICAL PADDING*/
    padding-bottom: 50px;
}

.product-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
}

.product-cart-icon {
    width: 50px;
}

.new-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*.hero-product {*/
/*    gap: 10px;*/
/*}*/

.hero-product > img {
    width: 250px;
    /*height: 400px;*/
    margin-bottom: 45px;
    border-radius: 5px;
}

.hero-product-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.crooked {
    transform: rotate(-3.5deg);
    font-size: calc(2.5vmin + 12vmax);
    margin-bottom: -130px;
    z-index: -1;
}

@media only screen and (min-width: 2200px) { /* PRZEGLĄDARKI */
    .hero-product > img {
        width: 300px;
    }
}

@media only screen and (max-width: 1100px) {
    .product-list {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .hero-container {
        grid-template-columns: 1fr calc(15vmin + 20vmax);
    }

    .hero-title > h1 {
        font-size: calc(3.5vmin + 5vmax);
        margin-top: -50px;
    }

    .hero-title > h3 {
        font-size: calc(1vmin + 2vmax);
        margin-top: -5px;
    }

    .hero-content {
        width: calc(15vmin + 20vmax);
    }

    .hero-product > img {
        width: calc(11vmin + 16vmax);
    }

    .hero-product > span {
        font-size: 0.95rem;
    }

    .hero-product > p {
        font-size: 0.85rem;
    }

}

@media only screen and (max-width: 650px) { /* TELEFONY I PRZEGLĄDARKI */
    #hero {
        height: 1100px;
    }

    .hero-bg {
        height: 1100px;
        width: 100%;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        padding: 50px 0 0 0;
        height: 100%;
        box-sizing: border-box;
    }

    .hero-content {
        width: 100%;
        height: 60%;
        gap: 5%;
    }

    .hero-product > img {
        width: 60%;
    }

    .hero-title {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10dvw;
        margin-bottom: 80px;
    }

    .hero-title > h1 {
        font-size: 500%;
        margin-top: -70px;
    }

    .hero-title > h3 {
        font-size: 200%;
        margin-top: -5px;
    }

    .hero-product {
        font-size: 90%;
    }

    /*#products {*/
    /*    padding-top: 100px;*/
    /*}*/

    .crooked {
        font-size: calc(3vmin + 6vmax);
        margin-bottom: -100px;
    }

    .product-list {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .hero-product > img {
        width: 60%;
    }

    .crooked {
        font-size: calc(1.5vmin + 4vmax);
        margin-bottom: -90px;
    }

    .product-description {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 250px) {
    .crooked {
        font-size: calc(1.5vmin + 3vmax);
        margin-bottom: -90px;
    }

    .product-description {
        font-size: 0.7rem;
    }
}

@media only screen and (min-height: 1000px) and (max-width: 850px) { /* TABLETY*/
    .hero-title > h1 {
        font-size: 450%;
        margin-top: -60px;
    }

    .hero-title > h3 {
        font-size: 150%;
        margin-top: -5px;
    }

    .crooked {
        font-size: calc(6vmin + 6vmax);
        margin-bottom: -110px;
    }

    .hero-product > img {
        width: 70%;
    }
}

@media only screen and (min-height: 1000px) and (max-width: 650px) { /* TABLETY*/
    .crooked {
        font-size: calc(5vmin + 5vmax);
        margin-bottom: -115px;
    }

    .hero-product > img {
        width: 40%;
    }
}