:root {
    --cart-padding: 25px;
    --cart-margin: var(--vertical-padding) 0;
}

#cart {
    min-height: calc(100dvh - var(--nav-height) - 201px);
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    align-content: center;
    box-sizing: border-box;
}

#cart-products,
#cart-price {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #282828;
    padding: var(--cart-padding);
    margin: var(--cart-margin);
    border: 1px solid #4f4f4f;
}

#cart-products {
    width: 75%;
}

#cart-price {
    width: 35%;
    height: fit-content;
}

.title {
    font-size: 200%;
}

#product-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: var(--third-font);
}

.product-div-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.product-div-right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.product-div-element {
    height: 100%;
}

.product-image {
    display: flex;
}

.product-image > img {
    width: 200px;
    height: 200px;
}

.product-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.product-description > input {
    appearance: none;
    all: unset;
    padding: 0;
    padding-left: 4%;
    box-sizing: border-box;
    width: 55px;
    height: 50px;
    border: 1px solid #666;
}

.price-cart-page {
    font-weight: var(--font-light);
    font-size: 125%;
}

.product-title {
    font-size: 150%;
    font-weight: var(--font-light);
}

.span-unitPrice {
    font-size: 100%;
}

.delete-div {
    width: fit-content;
    height: fit-content;
}

.delete-img {
    width: 20px;
    cursor: pointer;
}

.cart-price-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    font-weight: var(--font-light);
}

.cart-price-div-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.final-price > p {
    font-weight: 800;
}

#payment-btn {
    width: 100%;
    font-size: 100%;
    height: 50px;
    font-weight: 700;
}