main {
    background-color: #434343;
}

#cart {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 25px;
    align-content: center;
    box-sizing: border-box;
    padding: 25px;
}

#cart-products {
    width: 65%;
    background-color: var(--background-color);
}

#cart-price {
    width: 35%;
    background-color: var(--background-color);
}

.title {
    font-size: 200%;
    font-family: var(--third-font);
}

#product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.product-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-div-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.product-div-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.product-div-element {
    height: 100%;
}

.product-image > img {
    width: 100px;
    height: fit-content;
}