main {
    padding-bottom: 50px;
}

.product-information {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
}
.product-information-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 50%;
}
.product-information-left > img {
    width: 100%;
    height: 100%;
}
.product-information-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-variations > img {
    width: 100px;
    height: 100px;
}
.product-variations {
    gap: 20px;
}
.product-variations > img {
    transition: transform 200ms ease-in-out;
}
.product-variations > img:hover {
    transform: scale(1.2);
}
.product-information-divider {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#product-count {
    width: 30px;
    height: 50px;
    padding-left: 20px;
}
.add-to-cart button {
    height: 100%;
}
.add-to-cart {
    gap: 15px;
}
.description > h3 {
    font-size: 350%;
}