/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    all: unset;
}

h1 {
    font-size: 600%;
}

form {
    font-size: 100%;
    font-weight: var(--font-light);
    font-family: var(--third-font);
}

.activeProductPage {
    font-weight: 800;
}

.page-selector {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
}

#search-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#filter-div {
    height: fit-content;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

#filter-icon {
    width: 20px;
}

#filter-text {
    font-size: 115%;
    text-decoration-line: underline;
}

#filter-mod {
    width: fit-content;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.filter-element {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #2e2e2e;
    padding: 8px 15px;
}

.brand-labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.brand-labels > div {
    display: flex;
    gap: 10%;
}

.filter-expand {
    width: fit-content;
    height: fit-content;
    display: none;
    justify-content: center;
    align-items: flex-start;
    background-color: #2e2e2e;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1000;
}

#sort-div {
    flex-direction: column;
}

#price-div {
    width: fit-content;
    height: fit-content;
    gap: 5px;
    flex-direction: row;
}

.label_price {
    position: absolute;
    z-index: 1000;
    top: 20px;
    transition: 0.5s ease-in-out;
}

.input_price {
    position: relative;
    padding: 0;
}

.expand-price {
    width: 80px;
    height: 35px;
}

.changeTopPos {
    transform: translateY(-20px);
    font-size: 90%;
    transition: 0.5s ease-in-out;
}

.expand-price:hover > input {
    border-bottom-color: #bbb;
    transition: 0.5s ease-in-out;
}

.expand-price > input {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #888;
    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 500%;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 350%;
    }
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 250%;
    }

    #filter-text {
        font-size: 95%;
    }

    #filter-icon {
        width: 15px;
    }

    #filter-div {
        width: fit-content;
        gap: 5px;
    }
}